In [3]:
import pandas as pd
filename = 'Combine_RBs_2017.csv'
data = pd.read_csv(filename)
df = pd.DataFrame(data)
print(df)

                    Name                    School Position  Height  Weight  \
0    Carson, Christopher            Oklahoma State       RB      72     218
1         Clement, Corey                 Wisconsin       RB      70     220
2           Cohen, Tarik  North Carolina A&T State       RB      66     179
3          Conner, James                Pittsburgh       RB      73     233
4           Cook, Dalvin                Florida St       RB      70     210
5          Davis, Justin                       USC       RB      73     208
6            Dayes, Matt      North Carolina State       RB      69     205
7        Foreman, D'onta                     Texas       RB      72     233
8     Fournette, Leonard           Louisiana State       RB      72     240
9         Gallman, Wayne                   Clemson       RB      72     215
10  Henderson, De'Angelo          Coastal Carolina       RB      67     208
11           Hill, Brian                   Wyoming       RB      73     219
12          Hood, Elijah            North Carolina       RB      72     232
13          Hunt, Kareem                    Toledo       RB      70     216
14          Jones, Aaron                      UTEP       RB      69     208
15         Kamara, Alvin                 Tennessee       RB      70     214
16             Logan, TJ            North Carolina       RB      69     196
17          Mack, Marlon             South Florida       RB      71     213
18  McCaffrey, Christian                  Stanford       RB      71     202
19       McGuire, Elijah       Louisiana-Lafayette       RB      71     214
20     McNichols, Jeremy               Boise State       RB      69     214
21      Ogunbowale, Dare                 Wisconsin       RB      71     213
22        Perine, Samaje                  Oklahoma       RB      70     233
23          Pumphrey, DJ           San Diego State       RB      68     176
24       Redding, Devine                   Indiana       RB      68     205
25           Rogers, Sam             Virginia Tech       FB      70     231
26         Shell, Rushel             West Virginia       RB      70     227
27        Smith, De'Veon                  Michigan       RB      71     223
28    Stevenson, Freddie             Florida State       FB      72     234
29         Thomas, Jahad                    Temple       RB      70     190
30      Williams, Jamaal             Brigham Young       RB      72     212
31         Williams, Joe                      Utah       RB      71     210
32     Williams, Stanley                  Kentucky       RB      67     190

   Arm Length Hand Size  40-Yard Dash  Bench Press  Vertical Jump  Broad Jump  \
0      33 1/4     9 5/8          4.58         23.0           37.0       130.0
1      30 1/2     9 3/4          4.68         19.0           28.5       115.0
2      29 3/4    10 1/8          4.42         11.0           31.5       118.0
3      31 1/4     9 7/8          4.65         20.0           29.0       113.0
4      32 3/8     9 1/4          4.49         22.0           30.5       116.0
5          31     9 5/8           NaN         21.0            NaN         NaN
6          30    10 1/2           NaN         18.0           28.0       109.0
7      31 3/8    10 1/8           NaN         18.0            NaN         NaN
8      31 5/8     9 1/4          4.51          NaN           28.5         NaN
9      32 5/8     9 1/8          4.60         21.0           29.5       120.0
10         29     9 1/2          4.48         20.0           34.0       120.0
11     31 3/8     8 7/8          4.54         15.0           34.0       125.0
12     30 3/8     9 3/8           NaN         18.0            NaN         NaN
13     31 3/8     9 5/8          4.62         18.0           36.5       119.0
14     32 1/2     9 1/2          4.56         16.0           37.5       127.0
15     32 3/4     9 1/4          4.56         15.0           39.5       131.0
16         32         9          4.37         17.0           33.5       121.0
17         32         9          4.50         15.0           35.5       125.0
18         30         9          4.48         10.0           37.5       121.0
19         31         9          4.53         15.0           36.0       120.0
20     31 1/2        10          4.49          NaN           35.5       121.0
21     31 3/8     9 1/8          4.65         14.0           35.0       120.0
22     30 3/8        10          4.65         30.0           33.0       116.0
23         29     8 1/2          4.48          5.0           33.5       117.0
24     29 1/4     9 5/8          4.76         16.0           30.5       116.0
25     30 1/4     9 3/4          4.93         19.0           32.0       114.0
26         30     9 5/8          4.74         21.0           32.5         NaN
27     29 1/2         9           NaN         22.0           29.0       108.0
28     32 3/4     9 5/8          4.75         24.0           28.0       111.0
29     30 1/8         9          4.62         11.0           32.0       116.0
30     31 1/4        10          4.59          NaN           30.0       123.0
31     30 3/4     9 3/8          4.51         14.0           35.0       125.0
32         30     8 5/8          4.41         18.0           36.0       121.0

    3-Cone  20-Yard Shuttle  60-Yard Shuttle
0      NaN              NaN              NaN
1      NaN              NaN              NaN
2      NaN              NaN              NaN
3      NaN              NaN              NaN
4     7.27             4.53              NaN
5      NaN              NaN              NaN
6      NaN              NaN              NaN
7      NaN              NaN              NaN
8      NaN              NaN              NaN
9     7.17             4.28              NaN
10     NaN              NaN              NaN
11    7.03             4.32            11.29
12     NaN              NaN              NaN
13     NaN              NaN              NaN
14    6.82             4.20            11.53
15     NaN              NaN              NaN
16     NaN              NaN              NaN
17     NaN              NaN              NaN
18    6.57             4.22            11.03
19    7.26             4.56            11.78
20    6.93             4.28              NaN
21    6.99             4.34              NaN
22    7.26             4.37            11.71
23     NaN              NaN              NaN
24    7.18             4.46            12.03
25     NaN              NaN            11.84
26     NaN              NaN              NaN
27    7.30             4.56            11.75
28    7.65             4.45              NaN
29     NaN              NaN              NaN
30    7.25             4.53              NaN
31    7.19             4.19              NaN
32    6.86             4.18              NaN

In [4]:
def simplifyDF(dataframe):
    newDataframe = dataframe[['Name', 'School', 'Height', 'Weight', '40-Yard Dash', '3-Cone']]
    return newDataframe

In [5]:
df1 = df[df['40-Yard Dash'] >= 4.5]
df1st = df1[df1['3-Cone'] >= 6.8]
df1st = simplifyDF(df1st)
print(df1st)

                  Name               School  Height  Weight  40-Yard Dash  \
9       Gallman, Wayne              Clemson      72     215          4.60
11         Hill, Brian              Wyoming      73     219          4.54
14        Jones, Aaron                 UTEP      69     208          4.56
19     McGuire, Elijah  Louisiana-Lafayette      71     214          4.53
21    Ogunbowale, Dare            Wisconsin      71     213          4.65
22      Perine, Samaje             Oklahoma      70     233          4.65
24     Redding, Devine              Indiana      68     205          4.76
28  Stevenson, Freddie        Florida State      72     234          4.75
30    Williams, Jamaal        Brigham Young      72     212          4.59
31       Williams, Joe                 Utah      71     210          4.51

    3-Cone
9     7.17
11    7.03
14    6.82
19    7.26
21    6.99
22    7.26
24    7.18
28    7.65
30    7.25
31    7.19

In [6]:
df2nd = df1[df1['3-Cone'] < 6.8]
df2nd = simplifyDF(df2nd)
print(df2nd)

Empty DataFrame
Columns: [Name, School, Height, Weight, 40-Yard Dash, 3-Cone]
Index: []

In [7]:
df3 = df[df['40-Yard Dash'] < 4.5]
dfShort = df3[df3['Height'] < 70]
df3rd = simplifyDF(dfShort)
print(df3rd)

                    Name                    School  Height  Weight  \
2           Cohen, Tarik  North Carolina A&T State      66     179
10  Henderson, De'Angelo          Coastal Carolina      67     208
16             Logan, TJ            North Carolina      69     196
20     McNichols, Jeremy               Boise State      69     214
23          Pumphrey, DJ           San Diego State      68     176
32     Williams, Stanley                  Kentucky      67     190

    40-Yard Dash  3-Cone
2           4.42     NaN
10          4.48     NaN
16          4.37     NaN
20          4.49    6.93
23          4.48     NaN
32          4.41    6.86

In [8]:
dfTall = df3[df3['Height'] >= 70]
dfLessExplosive = dfTall[dfTall['Broad Jump'] < 124]
df4th = dfLessExplosive[dfLessExplosive['40-Yard Dash'] >= 4.4]
df4th = simplifyDF(df4th)
print(df4th)

                    Name      School  Height  Weight  40-Yard Dash  3-Cone
4           Cook, Dalvin  Florida St      70     210          4.49    7.27
18  McCaffrey, Christian    Stanford      71     202          4.48    6.57

In [9]:
df5th = dfLessExplosive[dfLessExplosive['40-Yard Dash'] < 4.4]
df5th = simplifyDF(df5th)
print (df5th)

Empty DataFrame
Columns: [Name, School, Height, Weight, 40-Yard Dash, 3-Cone]
Index: []

In [10]:
df6th = dfTall[dfTall['Broad Jump'] >= 124]
df6th = simplifyDF(df6th) 
print(df6th)

Empty DataFrame
Columns: [Name, School, Height, Weight, 40-Yard Dash, 3-Cone]
Index: []